

*{margin: 0;padding: 0;}
body{font-family: "microsoft yahei";
    background-color: #f2f2f2;
}
ul>li{list-style: none}

.normal-header{
    max-width: 800px;
    width: 100%;height: auto;margin: auto;
    position: relative;
}

img{
    max-width: 100%;width: 100%;
    height:auto;
}

a{color: #000}


h1,h2,h3,h4,h5,p{font-weight: normal;margin: 0!important;}




/*详细内容开始*/
.sd-detail{
    width: 100%;height: auto;overflow: hidden;
    position: relative;
    margin-bottom: 40pt;
}
.sd-section{
    height: auto;
    margin-bottom:2%;
    background-color: #fff;
    overflow: hidden;
}

.sd-title{padding:5pt 0 0 10pt;font-size: 1em}
.sd-price{ padding:0pt 0 0 10pt;color:#d03525;font-size: 1em}
.sd-tagDiv{width: 44pt;height: 18pt;
    border: 1px solid #d03525;
    border-radius: 6px;text-align: center;
    line-height: 18pt;color: #d03525;
    font-size: 1em;margin: 0pt 6pt 0 0;
}
.publish-detail{
    overflow:hidden;height: 18pt;margin-top: 7pt;line-height: 18pt;
}
.publish-detail>h2{padding: 0 0 0 10pt;font-size: .9em; color:#9b9b9b;}
.publish-detail>p{padding: 0 6pt 0 0pt;font-size: .9em;color:#9b9b9b;}
.sd-publishTime{font-size: .9em;color:#9b9b9b;}

.sd-scanNum{font-size: .9em;color: #9b9b9b}

.sd-section2{
    /*background-color: red;*/
}
.sd-info{
    height: 31pt;
    line-height: 31pt;
    /*background-color: pink;*/
    position: relative;
}
.sd-info>span{
    color: #9b9b9b;font-size: 1.2em;padding: 0 0 0 10pt;
}

.sd-info2{
    font-size: 1.3em!important;color: #282828!important;
}

.sd-location{
    width:18pt;height:14pt;
    position: absolute;
    right:18pt;top: 8pt;
}
.sd-arrow{
    width: 5pt;height: 10pt;
    position: absolute;
    top:10pt;right: 6pt;
}


.sd-section3{
    /*background-color: red;*/
}
.sd-des{
    height: 31pt;
    line-height: 31pt;
    border-bottom: 0.1em solid #ebebeb;
}

.sd-desTitle{font-size: 1.4rem;padding: 0 0 0 10pt;}

.sd-desInfo{
    padding: 10pt 0 10pt 10pt;
    text-justify: auto;
    font-size: 1.3rem;
    color: #282828;
}
.sd-section4{

    height: 70pt;
    position: relative;

}

/*未认领的时候的状态开始*/
.unrenling{
    background-color: #fff;
    position: relative;
    height: 50pt;
    display: none;
}

.unrenling>h1{
    padding-left: 10pt;
    line-height: 50pt;
    font-size: 1.3rem;
    color: #282828;
}

/*未认领的时候的状态结束*/


.sd-userInfo{
    width:40%;
    height: 30pt;
    margin:10pt auto;
    position: relative;
}

.sd-userIcon{
    width: 30pt;height:30pt;
    position: absolute;left: 50%;margin-left: -35pt;
}
.sd-userName{
    position: absolute;right:5pt;left:55%;
    line-height: 30pt;font-size: 1.4rem;
    color: #282828;
}


.section4-arrow{
    width: 5pt;height: 10pt;
    position: absolute;
    top:20pt;right: 6pt;
}

.sd-InfoAdd{

}
.sd-section4>p{
    color: #282828;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

/*适配iphone5 以及更小的屏幕开始*/
@media screen  and  (max-width: 322px){

    .sd-userName{font-size: 1.1rem;}
    .sd-userInfo{width: 40%;}

    .sd-section5{
        height: 50pt!important;
        background-color: #f7d39d;
        position: relative;
    }

    .sd-section5>h1{
        font-size: 1.2rem!important;
        padding:0 0 0 10pt;
    }

    .jubao-div{
        width: 50pt!important;height: 32pt;
        position: absolute;top: 10pt;right: 10pt;
        /*background-color: #ffff00;*/

        border-left: .1em solid #c18121;
    }
    .jubao{
        width: 40pt!IMPORTANT;height: 20pt;
        border: none;
        background-color: #fe7200;color: #fff;
        font-size: 1.3rem;
        text-align: center;
        line-height: 20pt;border-radius: 6pt;
        position: absolute;top: 6pt;right: 0;
    }


}

/*适配iphone5 以及更小的屏幕结束*/

.sd-section5{
    height:50pt!important;
    background-color: #f7d39d!important;
    position: relative;
}
.sd-section5>h1{
    font-size: 1.3rem;
    padding:0 0 0 10pt;
}

.jubao-div{
    width: 56pt;height: 32pt;
    position: absolute;top: 10pt;right: 10pt;
    /*background-color: #ffff00;*/

    border-left: .1em solid #c18121;
}
.jubao{
    width: 45pt;height: 20pt;
    border: none;
    background-color: #fe7200;color: #fff;
    font-size: 1.2rem;
    text-align: center;
    line-height: 20pt;border-radius: 6pt;
    position: absolute;top: 6pt;right: 0;
}




/*footer 开始*/
.footer{
    height: 40pt;width: 100%;
    position: fixed;bottom: 0;

}
.footer-left{
    width:40%;height: 50pt;
    background-color: #39bc30;
}

.footer-left-uses{
    padding: 5pt 0 0 10pt;color: #fff;
    font-size: 1.4em;
}

.footer-left-phone{
    padding: 0pt 0 0 10pt;color: #fff;
    font-size: 1.4em;
}

.footer-right{
    width:60%;
    height: 50pt;
    background-color: #fff;
}
.footer-right>ul{
    padding-top:5pt;
    margin-left: -20px;
}

.footer-right>ul>li>a{
    float: left;
    width: 33%;height: 30pt;
    border-right: 1px solid #ebebeb;

}



figure>img{
    width: 22px;height: 22px;
    display: block;
    margin: auto;
}

figure>figcaption{text-align: center;color: #656565}
/*footer 结束*/


/*详细内容结束*/




/*map 开始*/

#map{
    width:100%; height: 400px;
    overflow: hidden;
}


/*map结束*/



