body{background: #f2f2f2!important;}
.list{padding-top: 5%}
.list>li{color: #282828;    border-bottom:.1em solid #ebebeb;padding-bottom: 10pt}
.left-part{width: 20%;}
.right-part{width: 78%;}
.section{margin-bottom: 1.5%}
.header{
    position: relative;
    height: 8em;
    width: 100%;
    overflow: hidden;
    z-index: 14;
}
.food-bg{
    width:100%;height: 8em;
    opacity:.9;position: absolute;top: 0;z-index:13;
    -webkit-background-size: 1000%;
    background-size: 1000%;
}
.header-left{
    width:6em;
    height:6em;
    margin:1em 0 1em 3%;
}
.header-left>img{width: 100%;height: 100%;}
.header-right{
    width: calc(100% - 7em);
    height:6em;
    margin: 1em 0 1em 0;
    position: relative;
}

.header-right>h1{
padding-left: 5pt;
    color: #282828;
    font-size:12pt;font-weight: normal;
}


.eval{
    width:85%;
    overflow: hidden;
    margin:5pt 0 0 3%;
    position: relative;
}
.per-price{
    position: absolute;right:10pt;
    top: 20%;
    color: #ccc;font-size: 1rem;
}

.header-right>h2{
   font-size: 10pt;
    left: 3%;margin: 0;
    position: absolute;
    font-weight: normal;
    bottom:0;
    color: #ccc;
}
.header-right>p{
    color: #fff;font-size: 1.2rem;color: #ccc;
    position: absolute;right:10pt;bottom: 0;
}

.eval>ul{padding-left:0;overflow: hidden;margin: 0}
.eval>ul>li{
    display: inline-block;
    margin-left: 1px;
    width: 14pt;
    height: 13pt;
    overflow: hidden;
    line-height: 10pt;
}
.eval>ul>li>img{width:100%;height: 100%}

/*header over*/


.intro{
    background: #fff;
    border-bottom: .1em solid #ebebeb;
    padding:10pt 0 10pt 0pt;
    position: relative;
    overflow: hidden;
}
.intro>h1{
   padding-left:5pt;font-size: 10pt;font-weight: normal;
}

.wrong{
    position: absolute;right: 3%;top: 20%;
    width:50pt;height: 20pt;line-height: 20pt;
    border-radius: 5px;font-size: 10pt;
    background-color: #cdeacb;color: #39bc30;
    text-align: center;
}
.intro-detail{
    color: #000;font-size:10pt;
    background: #fff;  margin: 0 0 0 2%;
    padding:2.5% 0 5% 3%;
}
.location{width: 25px;height: 25px;margin-right: 0pt}
.tel-number{width: 25px;height: 25px;margin-right: 12pt}

.section_item>p{
    border-bottom: .1em solid #ebebeb;padding: 10pt 0 10pt 5pt;
}


/*更多图片*/
.more-pics{
    border-bottom: .1em solid #ebebeb;
    padding:3% 0 4% 3%;
    margin-bottom: 0;
    font-size: 11pt;color: #282828;
    margin-top: 0!important;

}
.more-pics{
    border-bottom: 0!important;
}
.more-list0{
    position: relative;
    width: 100%;height:6em;
    /*border-bottom: 4px solid #ebebeb;*/
}
.more-list{
    width: 90%;
    padding-left: 3%;
    overflow: hidden;
    height: 6em;
    margin: 0 0 .6rem;
}
.more-list>li:first-child{margin-left: 0%}
.more-list>li{
    width:64pt;height:6em;
    margin-left: 2%;float: left;
}
.more-list>li>img{width: 100%;height:95%;margin-top: 2.5%}
.more-pics-arrow{
    position: absolute;
    right: 4%;
    top: 32%;
    /*width: 20px;height: 40px;*/
}
/*更多图片*/



/*网友点评开始*/


.section>h1{font-weight: normal;font-size: 12pt;padding: 5pt 0 10pt 5pt;
    border-bottom: .1em solid #ebebeb;
}


.section>h1{
    padding:10pt 0 10pt 5pt;
    font-weight: normal;font-size: 1.4rem;color: #282828;
}


.visit_arrow{
    width: 10px;height: 10px;
    position: absolute;right: 10pt;top: 8pt;
}
/*推荐*/
.recommend_header{border-left: 3px solid #39bc30;width: 80%;height: 15pt;margin: 8pt 0 8pt 5pt;}
.recommend_header>h1{font-weight: normal;font-size: 11pt;
    padding: 7pt 0 10pt 5pt;line-height:.1em;

}


.recommend_detail{padding-left: 0;margin-top: 5pt;border-top: 1px solid #ebebeb}
.recommend_detail>li{
    display: block;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    padding: 10pt 0 10pt 0;

}
.recommend_detail_left{
    width: 70pt;height: 60pt;
    float: left;padding-left: 10pt;
}
.recommend_detail_left>img{
    width: 100%;height: 100%;
}
.recommend_detail_right{
    width: calc(100% - 75pt);
    float: right;height: 60pt;
}
.re_left{
    width: 70%;height: 60pt;float: left;
    position: relative;
}
.re_left>span{font-size:9pt;color: #656565;margin-top: 5pt;}
.re_miles{margin-right: 10pt}
.re_left>h1{
    font-weight: normal;font-size: 1.5rem;margin: 0;
}
.re_eval{
    width: 90%;height: 20px;position: relative;
    margin-top: 5pt;
}
.re_eval>ul{padding-left: 0;margin: 0 0 0 3px;}
.re_eval>ul>span{
    position: absolute;right: 0;font-size: 9pt;color: #656565;line-height: 26px;
}
.re_eval>ul>li{
    margin-left: 0px;
    line-height: 0px;overflow: hidden;
    width: 15px;height: 15px;display:inline-block;}
.re_eval>ul>li>img{
    width: 15px;height: 15px;
}

.re_right{width: 30%;height: 40pt;
    border-left: .1em solid #ebebeb;
    float: left; margin: 10pt 0 10pt 0;
}
.re_right_img{
    width: 25px;height: 25px;
    display: block;margin:30% auto 0;
}

.footer>ul{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: space-around;
}
.footer>ul>li{
    width: 32%;display: inline-block;
    text-align: center;
    border-right: .1em solid #ebebeb;font-size:10pt;;
}
.footer>ul>li>img{
    width: 22px;height: 22px;
}
.footer>ul>li>p{
    color: #656565;
    margin-top: 2px;
    font-size: 9pt
}

.footer>ul>li:last-child{
    border-right: none;
}
.footer>ul>li>a{

}